{% assign _url = page.url | split: "/" %}
{% assign current = _url[-1] | split: "." %}
<header>
  <nav>
    <ul>
      {% case current[0] %}
      {% when 'tags'%}
      <!-- tags -->
      <a href="{{ site.url | append: site.baseurl }}/posts/">
        <li class="btn-nav">Posts</li>
      </a>
      <li class="current">Tags</li>
      <a href="{{ site.url | append: site.baseurl }}/">
        <li class="btn-nav">Portfolio</li>
      </a>
      <!-- posts -->
      {% when 'posts'%}
      <li class="current">Posts</li>
      <a href="{{ site.url | append: site.baseurl }}/tags/">
        <li class="btn-nav">Tags</li>
      </a>
      <a href="{{ site.url | append: site.baseurl }}/">
        <li class="btn-nav">Portfolio</li>
      </a>
      {% else %}
      <!-- others -->
      <a href="{{ site.url | append: site.baseurl }}/posts/">
        <li class="btn-nav">Blog</li>
      </a>
      <a href="{{ site.url | append: site.baseurl }}/tags/">
        <li class="btn-nav">Tags</li>
      </a>
      <a href="{{ site.url | append: site.baseurl }}/">
        <li class="current btn-nav">Portfolio</li>
      </a>
      {% endcase %}
    </ul>
  </nav>
</header>
